.coverage-panel {
  display: flex;
  justify-content: center;
}

.card {
  flex: 1;
}

.coverage-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coverage-grid ul {
  margin: 0px 15px;
}
