<div class="coverage-panel">
  <div class="card">
    <h1>Offense</h1>
    <div class="coverage-grid">
      <div *ngFor="let occ of offense" class="coverage-row">
        <div class="row-label">
          <p>{{ occ.occ }}x</p>
        </div>
        <div
          class="cards-section"
          [ngStyle]="{ 'background-color': occ.color }"
        >
          <app-coverage-card
            *ngFor="let m of occ.list"
            [matchup]="m"
          ></app-coverage-card>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h1>Defense</h1>
    <div class="coverage-grid">
      <div *ngFor="let occ of defense" class="coverage-row">
        <div class="row-label">
          <p>{{ occ.occ }}x</p>
        </div>
        <div
          class="cards-section"
          [ngStyle]="{ 'background-color': occ.color }"
        >
          <app-coverage-card
            *ngFor="let m of occ.list"
            [matchup]="m"
          ></app-coverage-card>
        </div>
      </div>
    </div>
  </div>
</div>
